h3 {
	color: black;
}

body {
	background-image: url("white.png");
	background-repeat: no-repeat;
	background: opacity: 0.5;
	margin-left: 500px;
	color: white;
	background: opacity: 0.5;
	font-family: 'Playfair Display', serif;
}

#SubmitButton{
	font-size: 25px;
}

#label{
	font-family: 'Playfair Display', serif;
	color: black;
}

#choices{
	font-family: 'Playfair Display', serif;
	font-size: 17px;
	color: black;
}

/*#social{
	margin-left: 200px;
}*/
.btnz {
    display: block;
    float: left;
    padding: 10px 15px;
    border:none;
    background-color: #ececec;
    text-decoration: none;
    font-size: 18px;
    color: #FFF;

}
/*.btnz:hover {
    color: #efefef;
}

.facebook {
    background-color: #3b5998;
    margin-left: 10px;
}
.gplus {
    background-color: #dd4b39;
}
.twitter {
    background-color: #55acee;
}
.stumbleupon {
    background-color: #eb4924;
}
.pinterest {
    background-color: #cc2127;
}
.linkedin {
    background-color: #0077b5;
}
.buffer {
    background-color: #323b43;
}*/

.navbar{
    background-color: black;
}