h3 {
	color: black;
}

body {
	background-image: url("white.png");
	background-repeat: no-repeat;
/*	background-size: width:;*/
	background: opacity: 0.5;
	margin-left: 500px;
	color: white;
	background: opacity: 0.5;
}

#label{
	font-family: 'Playfair Display', serif;
	color: black;
}

.navbar{
	font-family:'Playfair Display', serif;
}