h3 {
	color: black;
}

body {
	background-image: url("lol.png");
	background-repeat: no-repeat;
/*	background-size: width:;*/
	background: opacity: 0.5;
	margin-left: 500px;
	color: white;
	background: opacity: 0.5;
}

