body{
	margin-left: 10px;
}

<<<<<<< Updated upstream
 .navbar{
 	font-family: 'Playfair Display', serif;

=======
#label { 
	font-family: 'Playfair Display', serif;
	text-align: center;
>>>>>>> Stashed changes
 }