/*legs1.css*/
/*CSS file for legs1.html and legs1more.html*/
body{
	font-family: 'Playfair Display', serif; /*Change font to Playfair Display*/
	margin-left: 10px; /*Create are margin for the pictures so that they aren't against the edge*/
}

#label{
	text-align: center; /*Moves just the title to the middle*/
}
	
img{ /*The images in legs1more.html*/
	opacity:0.7; 
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

img:hover{
	opacity: 1.0;
}

h3 span{ /*Caption for images*/
	color: white;
	font: bold 20px/30px Helvetica, Sans-Serif; 
	letter-spacing: -1px;
	background: rgba(0,0,0,0.7);
	padding: 5px;
	position: absolute;
	top: 1600px;
	left: 480px;
	width: 23%;
}