body{
	margin-left: 10px;
}

img{
	opacity: 0.7;
}

img:hover{
	opacity: 1.0;
}

#label { 
	font-family: 'Playfair Display', serif;
	text-align: center;
 }

  .navbar{
 	font-family: 'Playfair Display', serif;

 }